<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Express Practice</title>
  </head>
  <body>
    <h1>Timestamps Metadata</h1>
    <hr />
    <section>
      <h3>Example Request</h3>
      <ul>
        <li><a href="/api/1993-04-11">/v1/api/1993-04-11</a></li>
        <li><a href="/api/1993-04-11">/v1/api/752442246</a></li>
      </ul>

      <h3>Example Response</h3>
      <code>{"unix": 752442246, "utc": "Thu, 04 Nov 1993 19:44:05 GMT" }</code>
    </section>
  </body>
</html>
